In [1]:
import pandas as pd 
from sklearn.linear_model import LinearRegression
import warnings 
warnings.filterwarnings("ignore")

In [2]:
df =pd.read_csv("/kaggle/input/home-prices-3/homeprices.csv")
df

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [3]:
df.replace(to_replace=["monroe township", "west windsor", "robinsville"], value=["Matariya", "El Helmya","Haram" ], inplace=True)
df

         town  area   price
0    Matariya  2600  550000
1    Matariya  3000  565000
2    Matariya  3200  610000
3    Matariya  3600  680000
4    Matariya  4000  725000
5   El Helmya  2600  585000
6   El Helmya  2800  615000
7   El Helmya  3300  650000
8   El Helmya  3600  710000
9       Haram  2600  575000
10      Haram  2900  600000
11      Haram  3100  620000
12      Haram  3600  695000

In [4]:
df.groupby("town").mean()[["price"]]

              price
town
El Helmya  640000.0
Haram      622500.0
Matariya   626000.0

# **One Hot Encoder**

In [5]:
dummies = pd.get_dummies(df.town).astype(int)
dummies

    El Helmya  Haram  Matariya
0           0      0         1
1           0      0         1
2           0      0         1
3           0      0         1
4           0      0         1
5           1      0         0
6           1      0         0
7           1      0         0
8           1      0         0
9           0      1         0
10          0      1         0
11          0      1         0
12          0      1         0

In [6]:
merged = pd.concat([df,dummies], axis="columns")# to concatination the two tabels 
merged

         town  area   price  El Helmya  Haram  Matariya
0    Matariya  2600  550000          0      0         1
1    Matariya  3000  565000          0      0         1
2    Matariya  3200  610000          0      0         1
3    Matariya  3600  680000          0      0         1
4    Matariya  4000  725000          0      0         1
5   El Helmya  2600  585000          1      0         0
6   El Helmya  2800  615000          1      0         0
7   El Helmya  3300  650000          1      0         0
8   El Helmya  3600  710000          1      0         0
9       Haram  2600  575000          0      1         0
10      Haram  2900  600000          0      1         0
11      Haram  3100  620000          0      1         0
12      Haram  3600  695000          0      1         0

In [7]:
final = merged.drop(columns=["town"])
final

    area   price  El Helmya  Haram  Matariya
0   2600  550000          0      0         1
1   3000  565000          0      0         1
2   3200  610000          0      0         1
3   3600  680000          0      0         1
4   4000  725000          0      0         1
5   2600  585000          1      0         0
6   2800  615000          1      0         0
7   3300  650000          1      0         0
8   3600  710000          1      0         0
9   2600  575000          0      1         0
10  2900  600000          0      1         0
11  3100  620000          0      1         0
12  3600  695000          0      1         0

In [8]:
model = LinearRegression()

In [9]:
x = final.drop(columns=["price"])
x

    area  El Helmya  Haram  Matariya
0   2600          0      0         1
1   3000          0      0         1
2   3200          0      0         1
3   3600          0      0         1
4   4000          0      0         1
5   2600          1      0         0
6   2800          1      0         0
7   3300          1      0         0
8   3600          1      0         0
9   2600          0      1         0
10  2900          0      1         0
11  3100          0      1         0
12  3600          0      1         0

In [10]:
y =final.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [11]:
model.fit(x,y)

LinearRegression()

In [12]:
model.predict(x)

array([539709.73984091, 590468.71640508, 615848.20468716, 666607.18125133,
       717366.1578155 , 579723.71533005, 605103.20361214, 668551.92431735,
       706621.15674047, 565396.15136531, 603465.38378844, 628844.87207052,
       692293.59277574])

In [13]:
model.score(x,y)

0.9573929037221874

In [14]:
model.predict([[2000, 0, 0, 1]])

array([463571.27499466])